[submodule "mocha"]
  path = test_infra/vendor/mocha
  url = https://github.com/visionmedia/mocha.git 

[submodule "chai"]
  path = test_infra/vendor/chai
  url = https://github.com/chaijs/chai.git
[submodule "gaia-ui-bb"]
	path = gaia-ui-bb
	url = https://github.com/mozilla-b2g/Gaia-UI-Building-Blocks.git
