<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Templates Tests</title>
    <link rel="stylesheet" href="../../../test_infra/vendor/mocha/mocha.css">
    <link rel="stylesheet" href="../../../test_infra/vendor/jscovreporter/reporter.css">
    <link rel="stylesheet" href="../../../test_infra/vendor/jscovreporter_custom/reporter.css">
  </head>
  <body>
    <div id="mocha"></div>
    <script src="../../../test_infra/vendor/mocha/mocha.js"></script>
    <script src="../../../test_infra/vendor/chai/chai.js"></script>

    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="../../../test_infra/vendor/underscore/underscore-min.js"></script>
    <script src="../../../test_infra/vendor/backbone/backbone-min.js"></script>
    <script src="../../../test_infra/vendor/jscovreporter/reporter.js"></script>
    <script src="../../../test_infra/vendor/jscovreporter/JSCovReporter.js"></script>

    <script>mocha.setup('tdd'); window.assert = window.chai.assert;</script>
    <script src="../templates.js"></script>
    <script src="templates_test.js"></script>

    <script>
      // We need this for the js coverage
      utils.templates = null;
    </script>

    <script src="../instrumented/templates.js"></script>

    <script>
      mocha.checkLeaks();
      mocha.globals(['utils', 'assert']);
      mocha.run(function () {
        new JSCovReporter({ coverObject: window.__$coverObject });
      });
    </script>

    <section id="test_section" style="display: none">
      <ol id="test">
        <template>
          <li data-unknown="${unknowndata}">${data}</li>
        </template>
      </ol>

      <ol id="test2">
        <template>
          <li id="${data.id}">${data.data}</li>
        </template>
      </ol>

      <ol id="test21">
        <template>
          <li id="${data.id}" data-other="${dataFunction2}">${data.dataFunction.data}</li>
        </template>
      </ol>

      <ol id="test3">
        <template data-condition="condition.displayRow0">
          <li id="${id}">Row 0</li>
        </template>
        <template data-condition="condition.displayRow1">
          <li id="${id}">Row 1</li>
        </template>
        <template>
           <li id="${id}">Default Row</li>
        </template>
      </ol>
    </section>
    <div id="coverage"></div>
    <div id="menu"></div>
  </body>
</html>
