<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="css/navigation.css">
    <link rel="stylesheet" href="css/app.css">
    <script type="text/javascript" src="js/navigation.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </head>
  <body>

    <section id="home" data-position="current">
      <h1>Home</h1>
      <p>Click the <button id="back-fade-action">data-position="back" data-transition="fade"</button> to show a section positioned on the back using a fade animation</p>
      <p>Click the <button id="bottom-push-action">data-position="bottom" data-transition="push"</button> to show a section positioned on the bottom using a push animation</p>
      <p>Click the <button id="bottom-slide-action">data-position="bottom" data-transition="slide"</button> to show a section positioned on the bottom using a slide animation</p>
      <p>Click the <button id="right-push-action">data-position="right" data-transition="push"</button> to show a section positioned on the right using a push animation</p>
      <p>Click the <button id="right-slide-action">data-position="right" data-transition="slide"</button> to show a section positioned on the right using a slide animation</p>
      <p>Click the <button id="sequence-action">sequence of animations</button> to show all the previous animations as a sequence section positioned on the right using a slide animation</p>
    </section>

    <section id="back-fade" data-position="back" data-transition="fade">
      <h1>data-position="back" data-transition="fade"</h1>
      <p>I was on the back and was shown with a fade animation... :-O</p>
      <p>Click the <button id="back-fade-back-action">back</button> button to go back to the home section using a fade animation. Once the animation ends, an alert will be shown using the callback mechanism ;-)</p>
    </section>

    <section id="bottom-push" data-position="bottom" data-transition="push">
      <h1>data-position="bottom" data-transition="push"</h1>
      <p>I was on the bottom and was shown with a push animation... :-O</p>
      <p>Click the <button id="bottom-push-back-action">back</button> button to go back to the home section using a push animation. Once the animation ends, an alert will be shown using the callback mechanism ;-)</p>
    </section>

    <section id="bottom-slide" data-position="bottom" data-transition="slide">
      <h1>data-position="bottom" data-transition="slide"</h1>
      <p>I was on the bottom and was shown with a slide animation... :-O</p>
      <p>Click the <button id="bottom-slide-back-action">back</button> button to go back to the home section using a slide animation. Once the animation ends, an alert will be shown using the callback mechanism ;-)</p>
    </section>

    <section id="right-push" data-position="right" data-transition="push">
      <h1>data-position="right" data-transition="push"</h1>
      <p>I was on the right and was shown with a push animation... :-O</p>
      <p>Click the <button id="right-push-back-action">back</button> button to go back to the home section using a push animation. Once the animation ends, an alert will be shown using the callback mechanism ;-)</p>
    </section>

    <section id="right-slide" data-position="right" data-transition="slide">
      <h1>data-position="right" data-transition="slide"</h1>
      <p>I was on the right and was shown with a slide animation... :-O</p>
      <p>Click the <button id="right-slide-back-action">back</button> button to go back to the home section using a slide animation. Once the animation ends, an alert will be shown using the callback mechanism ;-)</p>
    </section>
  </body>
</html>