<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Script Loader Tests</title>
    <link rel="stylesheet" href="../../../test_infra/vendor/mocha/mocha.css">
  </head>
  <body>
    <div id="mocha"></div>
    <script src="../../../test_infra/vendor/mocha/mocha.js"></script>
    <script src="../../../test_infra/vendor/chai/chai.js"></script>

    <script>mocha.setup('tdd'); window.assert = window.chai.assert;</script>
    <script src="../script_loader.js"></script>
    <script src="script_loader_test.js"></script>
    <script>
      mocha.checkLeaks();
      mocha.globals(['utils', 'assert']);
      mocha.run();
    </script>

  </body>
</html>
