[data-position="back"][data-transition="fade"] {
  background-color: #f4b6b6;
}

[data-position="bottom"][data-transition="push"] {
  background-color: #b6b6f5;
}

[data-position="bottom"][data-transition="slide"] {
  background-color: #bab5b5;
}

[data-position="right"][data-transition="push"] {
  background-color: #f4f49d;
}

[data-position="right"][data-transition="slide"] {
 background-color: #aff7af; 
}