[data-position] {
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

[data-position="current"] {
/*  height: 100%;*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

[data-position="bottom"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}

[data-position="left"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

[data-position="right"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

[data-position="up"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

[data-position="back"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
}

/* Page navigation */

.moveLeftIn {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.moveLeftOut {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%); 
}

.moveRightIn {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.moveRightOut {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.moveUpIn {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.moveUpOut {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

.moveBottomIn {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.moveBottomOut {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}
